{
  "settings": {
    "import/core-modules": [
      "homebridge"
    ],
    //
    // trick above silents noise bellow for real ...
    //
    //   Warning: React version was set to "detect" in eslint-plugin-react settings,
    //   but the "react" package is not installed. Assuming latest React version for
    //   linting.
    //
    // bellow stops requiring homebridge as a runtime dep
    //
    "react": {
      "version": "999.999.999"
    }
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript-prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "dist"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "unicorn",
    "import",
    "json",
    "promise"
  ],
  "rules": {
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ],
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/indent": [
      "error"
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "allowTernary": true
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "@typescript-eslint/semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "asyncArrow": "always",
        "named": "never"
      }
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/unified-signatures": "error",
    "array-callback-return": [
      "error",
      {
        "allowImplicit": true
      }
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": [
      "off",
      "always-multiline"
    ],
    "comma-spacing": [
      "error"
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-notation": "off",
    "eqeqeq": [
      "warn",
      "smart"
    ],
    "eslint-comments/disable-enable-pair": "off",
    "eslint-comments/no-unused-disable": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",

        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        }
      }
    ],
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "json/*": [
      "error",
      "allowComments"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "lines-between-class-members": [
      "warn",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "max-len": [
      "warn",
      140
    ],
    "multiline-comment-style": [
      "error",
      "starred-block"
    ],
    "no-console": [
      "warn"
    ],
    "no-inline-comments": "warn",
    "no-multi-spaces": [
      "warn",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-unused-expressions": "off",
    "prefer-arrow-callback": [
      "error"
    ],
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "endOfLine": "auto",
        "printWidth": 80,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "none"
      }
    ],
    "quotes": "off",
    "semi": "off",
    "space-before-function-paren": "off",
    "spaced-comment": [
      "error",
      "always"
    ],
    "unicorn/number-literal-case": "off",
    "unicorn/prevent-abbreviations": "off"
  }
}