{
  "settings": {
    "react": {
      "version": "999.999.999"
    },
    // trick above silents noise bellow for real ...
    //   Warning: React version was set to "detect" in eslint-plugin-react settings,
    //   but the "react" package is not installed. Assuming latest React version for
    //   linting.
    // bellow stops requiring hb as a runtime dep
    "import/core-modules": ["homebridge"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "unicorn",
    "import",
    "json",
    "promise",
    "simple-import-sort"
  ],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "plugin:json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "airbnb-typescript-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist"],
  "rules": {
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "@typescript-eslint/indent": ["error"],
    "linebreak-style": ["error", "unix"],
    "semi": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "comma-dangle": ["off", "always-multiline"],
    "dot-notation": "off",
    "eqeqeq": ["warn", "smart"],
    "curly": ["error", "all"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "prefer-arrow-callback": ["error"],
    "max-len": ["warn", 140],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "comma-spacing": ["error"],
    "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
    "lines-between-class-members": [
      "warn",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "array-callback-return": ["error", { "allowImplicit": true }],
    "multiline-comment-style": ["error", "starred-block"],
    "no-inline-comments": "warn",
    "spaced-comment": ["error", "always"],
    "eslint-comments/no-unused-disable": "error",
    "eslint-comments/disable-enable-pair": "off",
    "import/prefer-default-export": "off",
    "simple-import-sort/sort": "error",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      { "allowTernary": true }
    ],
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-function-type": "error",
    "space-before-function-paren": "off",
    "@typescript-eslint/space-before-function-paren": [
      "error",
      { "asyncArrow": "always", "anonymous": "always", "named": "never" }
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/unified-signatures": "error",
    "prettier/prettier": ["error"],
    "unicorn/number-literal-case": "off", // prefer stock eslint scheme here
    "json/*": ["error", "allowComments"]
  }
}
