{
  // block bellow silents this for real ...
  //    Warning: React version was set to "detect" in eslint-plugin-react settings, but the "react" package is not installed. Assuming latest React version for linting.
  "settings": {
    "react": {
      "version": "999.999.999"
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "unicorn",
    "import",
    "json",
    "promise",
    "simple-import-sort"
  ],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "plugin:json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "airbnb-typescript-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist"],

  "rules": {
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "comma-dangle": ["off", "always-multiline"],
    "dot-notation": "off",
    "eqeqeq": ["warn", "smart"],
    "curly": ["error", "all"],
    "brace-style": ["error"],
    "prefer-arrow-callback": ["error"],
    "max-len": ["warn", 140],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "no-non-null-assertion": ["off"],
    "comma-spacing": ["error"],
    "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
    "lines-between-class-members": [
      "warn",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "array-callback-return": ["error", { "allowImplicit": true }],

    "multiline-comment-style": ["error", "starred-block"],
    "no-inline-comments": "warn",
    "spaced-comment": ["error", "always"],
    "eslint-comments/no-unused-disable": "error",
    "eslint-comments/disable-enable-pair": "off",
    "import/prefer-default-export": "off",
    "simple-import-sort/sort": "error",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": ["error"],

    // prettier ...
    "prettier/prettier": 2, // Means error

    "unicorn/number-literal-case": "off" // conflicts with stock eslint
  }
}
