.cache/
.env
.env.test
.eslintcache
.eslintignore
.eslintrc.cjs
.github
.lock-wscript
.npm
.prettierrc.cjs
.vscode
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
build/Release
coverage
dist
dist/*.spec.*
esbuild.config.cjs
jest.config.cjs
lib-cov
logs
node_modules
nodemon.json
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
src
tsconfig.json
